@{
    Layout = "_Layout";
}
@if (TempData["MensajeError"] != null)
{
    <div class="alert alert-warning">
        @TempData["MensajeError"]
    </div>
}
@section Scripts{
    <script>

        $(document).ready(function () {
            $('#btnListarMaterias').click(function () {
                $('#data_estudiantes').hide();
                var idEstudiante = $('#id_estudiante').val();
                var data = idEstudiante
                console.log(data);
                $.ajax({
                    url: '/Registros/ListaMaterias',
                    type: 'POST', // o 'GET', según el método del controlador
                    data: data, // Enviar el valor seleccionado como parámetro
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        $('#list_materias').html(result); // Actualizar la vista parcial con los datos recibidos
                    },
                    error: function (xhr, status, error) {
                        console.log(error); // Manejar el error de la solicitud
                    }
                });
            });
        });
    </script>    
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listar materias</title>  

</head>
<body>

    <div>
        <div class="row">
            <div class="col-md-3">
                <label for="id_estudiante">Id estudiante</label>
            </div>
            <div class="col-md-3">
                <input type="number" id="id_estudiante" class="form-control" required />
            </div>
            <div class="col-md-3">
                <input type="submit" id="btnListarMaterias" class="btn btn-primary btn-lg" value="Ver materias" />
            </div>
        </div>
        <div id="list_materias">
        </div>
    </div>
    <div id="data_estudiantes" class="mt-4">
    </div>   

</body>
</html>
